
.line { 
    fill: none;
    stroke: 1px;
    stroke-width: 3px;
}
.line.actual {
    stroke: #ccc;
}

.line.forecast {
    stroke: #333;
    stroke-dasharray: 8,4;
}
.line.forecast-error {
    opacity: 0.5;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
.axis.y line {
    stroke-dasharray: 2,2;
}
.axis .domain {
    display: none;
}
